.container > div:last-child{

    .row{ 
        border-bottom: 1px solid #444444;

        span{
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

}